node_modules/
dist/
build/
.DS_Store
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vite/
.cache/
.local/

# VS Code
.vscode/
.vscode/*-profile
!.vscode/launch.json

# macOS
Icon

# Logs
logs
*.log

# OS files
*.swp
*~

# JetBrains
.idea/

# Misc
coverage/
*.tgz
npm-packages-debug.log

# Lock files
pnpm-lock.yaml
